.app-main {
    display: flex;
    flex-wrap: wrap;
    padding-left: 11.3%;
    gap: 80px;
}

@media (max-width: 1700px) {
    .app-main {
        padding-left: 12%;
        gap: 50px;
    }
}


@media (max-width: 1650px) {
    .app-main {
        padding: 0 40% 0 44%;
    }
}

@media (max-width: 1500px) {
    .app-main {
        padding: 0 40% 0 43.5%;

    }
}

@media (max-width: 1450px) {
    .app-main {
        padding: 0 40% 0 43%;

    }
}