.header-container {
    background-color: #FD9255;
    height: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav {
    display: flex;
    align-items: center;
    width: 1145px;
    height: 138px;
}


.first-text-nav {
    margin-left: 504px;
    margin-right: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.second-text-nav {
    margin-right: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;

}

.third-text-nav {
    margin-right: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;

}

.fourth-text-nav {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;

}








/*

       RESPONSIVE: TABLET

*/
@media (max-width: 1200px) {
    .header-container {
        background-color: #FD9255;
        height: 196px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .header-nav {
        display: flex;
        align-items: center;
        width: 980px;
        height: 138px;

    }


    .first-text-nav {
        margin-left: 410px;
        margin-right: 40px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
    }
}






/*

       RESPONSIVE: SMARTPHONE

*/
@media (max-width: 1000px) {
    .header-container {
        background-color: #FD9255;
        height: 196px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .header-nav {
        display: flex;
        align-items: center;
        width: 900px;
        height: 138px;
    }


    .first-text-nav {
        margin-left: 300px;
        margin-right: 40px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
    }
}